<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <%= form_with(url: sign_in_path) do |form| %>
        <%= link_to root_path, class: "flex flex-col items-center justify-center pb-5 text-center" do %>
          <img src="<%= asset_path('logo.png') %>" class="h-16 w-16" alt="donaiApps logo" />
          <h5 class="text-xl font-medium text-gray-900 dark:text-white">Sign in</h5>
        <%end%>
        <div class="py-2">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <%= form.email_field :email, value: params[:email_hint], required: true, label: false, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div class="py-2">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          <%= form.password_field :password, required: true, autocomplete: "current-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div class="flex items-start py-2">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
                </div>
                <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
            </div>
            <%= link_to "Forgot your password?", new_identity_password_reset_path, class:"ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500" %>
        </div>
        <%= form.submit "Sign in", class:"w-full text-white bg-blue-800 hover:bg-secondary-900 focus:ring-4 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm px-5 my-2 py-2.5 text-center" %>
    <% end %>
</div>
