<nav class="bg-white border-gray-200 border-b w-full fixed z-20 top-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-2 lg:px-0"
  >
    <%= link_to root_path, class: "flex items-center" do %>
      <img
        src="<%= asset_path('logo.png') %>"
        class="w-[62px] h-[62px] p-2"
        alt="donaiApps logo"
      />
      <div class="sm:flex xs:flex flex-col self-center whitespace-nowrap">
        <span class="text-lg font-bold text-gray-800 whitespace-nowrap">donai<span class="text-primary-900">Apps</span></span>
      </div>
    <%end%>
    <button
      data-collapse-toggle="navbar-multi-level"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-multi-level"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
      <ul
        class="flex flex-col font-medium p-4 md:p-2 mt-4 border border-gray-100 bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white"
      >
        <% client_items.each do |item| %>
          <% if item[:active] %>
            <li>
              <%= link_to item[:path], class: "block font-normal py-2 pl-3 pr-4 text-primary-900 rounded md:bg-transparent md:text-primary-900 md:p-0" do%>
                <%= item[:name]%>
              <%end%>
            </li>
          <% else %>
            <li>
              <%= link_to item[:path], class:"block font-normal py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-900 md:p-0" do%>
                <%= item[:name]%>
              <%end%>
            </li>
          <% end %>
        <%end%>
        <li class="mt-10 lg:mt-0">
          <%= link_to sign_in_path, class:"text-white btn focus:ring-4 focus:outline-none focus:ring-blue-300 font-small rounded-full text-sm px-4 py-2 text-center mr-3 md:mr-0" do %>Sign In<%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
