<section class="bg-center flex justify-between items-center bg-gray-700 relative overflow-hidden mt-16">
  <img class="absolute inset-0 h-full w-full object-cover" src="<%= asset_path('banner/banner3.png') %>" alt="">
  <div class="max-w-screen-xl relative flex justify-between items-center mx-auto px-4 py-24 lg:py-24">
    <div class="flex flex-col items-center p-4 leading-normal">
      <h5 class="mb-2 text-4xl text-center font-bold tracking-tight text-gray-100">Services</h5>
      <% if breadcrumbs.present? %>
        <nav class="flex text-white" aria-label="Breadcrumb">
          <ol role="list" class="flex items-center space-x-4">
            <%= render_breadcrumbs :tag => :li, :class=>"inline-flex items-center text-gray-700 hover:text-primary-600", :separator => '<svg class="h-5 w-5 flex-shrink-0 text-gray-200" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>' %>
          </ol>
        </nav>
      <% end %>
    </div>
  </div>
</section>

<% if @services.any? %>
<section class="bg-white px-6 py-20 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-primary-900">Make it Digital & Smart</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What We Offer</p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-5 gap-y-8 lg:max-w-none lg:grid-cols-3">
          <% @services.each do |service|%>
          <div class="w-full flex flex-col justify-center bg-gray-100 p-8">
            <div class="flex flex-col justify-between items-center font-semibold leading-7 text-gray-900">
              <%= image_tag service.image, class: "rounded w-20 h-20", alt: service.title if service.image.present? %>
              <h4><%= link_to show_service_path(service) do%><%= service.title %> <%end%></h4>
            </div>
            <dd class="mt-4 text-center flex-col text-base leading-7 text-gray-600">
              <p class="flex-auto"><%= truncate(service.description.to_plain_text, length:165) %></p>
            </dd>
          </div>
          <%end%>
        </dl>
      </div>
    </div>
</section>  
<%end%>