<div id="<%= dom_id testmonial %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= testmonial.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= testmonial.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Testmony:</strong>
    <%= testmonial.testmony %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= testmonial.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this testmonial", testmonial, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this testmonial', edit_testmonial_path(testmonial), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
