<!DOCTYPE html>
<html>
  <head>
    <title>donaiApps</title>
    <meta name="description" content="
      website development, Website design, Mobile App Development, SEO, CMS, Digital Marketing, Graphic Designing, and Maintenance in Uganda, East Africa, Africa
    ">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'donaiApps', :type => "image/png", :sizes => "180x180" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="min-h-full">
      <%= render "shared/admin-navbar" %>
      <main class="-mt-32">
        <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
      <%= render "shared/dashboard-footer" %>
    </div>
  </body>
</html>
