<!DOCTYPE html>
<html>
  <head>
    <title>donaiApps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'donaiApps', :type => "image/png", :sizes => "180x180" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="container mx-auto flex justify-center items-center h-screen w-full">
      <%= yield %>
    </main>
  </body>
</html>
