<!DOCTYPE html>
<html>
  <head>
    <title>donaiApps</title>
    <meta name="description" content="
      website development, Website design, Mobile App Development, SEO, CMS, Digital Marketing, Graphic Designing, and Maintenance in Uganda, East Africa, Africa
    ">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'donaiApps', :type => "image/png", :sizes => "180x180" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id="top" class="scroll-smooth">
    <%= render "shared/client-header" %>
      <div class="bg-white">
        <main class="relative isolate">
          <%= yield %>
        </main>
      </div>
    <%= render "shared/footer" %>
  </body>
</html>
